In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("merged_ss.csv")

In [2]:
# Preview Data

df.head()

,Unnamed: 0,Returned,Order ID,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,...,Market,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority
0,0,0.0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,...,USCA,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.77,High
1,1,0.0,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,...,Asia Pacific,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.63,Critical
2,2,0.0,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,...,Asia Pacific,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.49,Medium
3,3,0.0,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Home Office,Berlin,Berlin,Germany,...,Europe,Technology,Phones,"Motorola Smart Phone, Cordless",2892.51,5,0.1,-96.54,910.16,Medium
4,4,0.0,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Consumer,Dakar,Dakar,Senegal,...,Africa,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.96,8,0.0,311.52,903.04,Critical

In [3]:
# Drop columns with least signifigance to hypothesis

In [4]:
# Drop Rows with null values

# df.dropna()

df.isnull().sum(axis = 0)

Unnamed: 0        0
Returned          0
Order ID          0
Order_Date        0
Ship_Date         0
Ship_Mode         0
Segment           0
City              0
State             0
Country           0
Region            0
Market            0
Category          0
Sub_Category      0
Product_Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
Shipping_Cost     0
Order Priority    0
dtype: int64

In [5]:
# Add Profit Margin Column

df['Profit Margin Percentage']=df.apply(lambda x: x.Profit/x.Sales if x.Profit!=0 else 0, axis=1) * 100

df['Shipping_Cost'] = pd.to_numeric(df['Shipping_Cost'])

df.head()

,Unnamed: 0,Returned,Order ID,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,...,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority,Profit Margin Percentage
0,0,0.0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,...,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.77,High,27.998018
1,1,0.0,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.63,Critical,-7.784817
2,2,0.0,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,...,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.49,Medium,17.776614
3,3,0.0,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Home Office,Berlin,Berlin,Germany,...,Technology,Phones,"Motorola Smart Phone, Cordless",2892.51,5,0.1,-96.54,910.16,Medium,-3.337586
4,4,0.0,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Consumer,Dakar,Dakar,Senegal,...,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.96,8,0.0,311.52,903.04,Critical,10.996272

In [6]:
# Convert Order Date and Ship Date to date/time

df['Order_Date'] = pd.to_datetime(df['Order_Date'])

df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

In [7]:
# create Days to Ship (ship date - order date)

df['Days to Ship'] = (df['Ship_Date'] - df['Order_Date']).dt.days

df['Days to Ship']

0        2
1        2
2        1
3        2
4        1
        ..
51285    0
51286    4
51287    5
51288    4
51289    4
Name: Days to Ship, Length: 51290, dtype: int64

In [8]:
df.tail(100)

,Unnamed: 0,Returned,Order ID,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,...,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority,Profit Margin Percentage,Days to Ship
51190,51190,0.0,CA-2014-YC21895140-41889,2014-09-07,2014-09-13,Standard Class,Corporate,Dallas,Texas,United States,...,Paper,Advantus Motivational Note Cards,41.92,4,0.2,15.20,2.330,Medium,36.259542,6
51191,51191,0.0,CA-2014-ZC21910140-41738,2014-04-09,2014-04-13,Standard Class,Consumer,Houston,Texas,United States,...,Binders,GBC DocuBind P400 Electric Binding System,1088.79,4,0.8,-1850.95,169.490,High,-170.000643,4
51192,51192,0.0,CA-2012-ZC21910140-41194,2012-10-12,2012-10-14,First Class,Consumer,Edmonds,Washington,United States,...,Tables,"Bevis Round Bullnose 29"" High Table Top",1298.55,5,0.0,311.65,146.920,High,23.999846,2
51193,51193,0.0,CA-2013-ZC21910140-41530,2013-09-13,2013-09-18,Standard Class,Consumer,Columbus,Indiana,United States,...,Chairs,Hon Multipurpose Stacking Arm Chairs,1516.20,7,0.0,394.21,132.780,Medium,25.999868,5
51194,51194,0.0,ES-2015-GB1457591-42284,2015-10-07,2015-10-12,Standard Class,Consumer,The Hague,South Holland,Netherlands,...,Binders,"Wilson Jones Index Tab, Durable",15.90,4,0.5,-15.30,1.060,Medium,-96.226415,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,51285,0.0,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,Corporate,Kure,Hiroshima,Japan,...,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.10,5,0.0,4.50,1.010,Medium,6.912442,0
51286,51286,0.0,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,Consumer,Chattanooga,Tennessee,United States,...,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.72,5,0.2,3.34,1.930,High,19.976077,4
51287,51287,0.0,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,Consumer,San Francisco,California,United States,...,Art,Newell 341,8.56,2,0.0,2.48,1.580,High,28.971963,5
51288,51288,0.0,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,Home Office,Valinhos,São Paulo,Brazil,...,Binders,"Acco Index Tab, Economy",13.44,2,0.0,2.40,1.003,Medium,17.857143,4
51289,51289,0.0,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,Consumer,Tipitapa,Managua,Nicaragua,...,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.38,3,0.0,1.80,1.002,High,2.932551,4

In [9]:
# Raw Average Sale

df["Sales"].mean()

246.49068531878765

In [10]:
# Average Sale Price by Category

df[["Category", "Sales"]].groupby("Category").mean()

                      Sales
Category
Furniture        416.881646
Office Supplies  121.048786
Technology       467.859063

In [11]:
# Average Sales Price by Sub_Category

df.groupby(['Category', 'Sub_Category'])['Sales'].mean()

Category         Sub_Category
Furniture        Bookcases       608.283928
                 Chairs          437.298241
                 Furnishings     122.116725
                 Tables          879.259199
Office Supplies  Appliances      580.100896
                 Art              76.400843
                 Binders          75.149705
                 Envelopes        70.891320
                 Fasteners        34.407993
                 Labels           28.200903
                 Paper            69.240455
                 Storage         223.175635
                 Supplies        100.877084
Technology       Accessories     243.654400
                 Copiers         679.008776
                 Machines        524.266703
                 Phones          508.437489
Name: Sales, dtype: float64

In [12]:
#df.groupby(['Category', 'Sub_Category'])['Profit Margin Percentage'].mean()

df.groupby(['Category','Sub_Category'])['Profit Margin Percentage'].mean()

Category         Sub_Category
Furniture        Bookcases        1.488165
                 Chairs           2.477528
                 Furnishings      5.390950
                 Tables         -24.204800
Office Supplies  Appliances      -0.198507
                 Art              6.485630
                 Binders         -0.172981
                 Envelopes        8.292237
                 Fasteners        7.312973
                 Labels          11.930966
                 Paper           19.371858
                 Storage          1.261661
                 Supplies         4.412333
Technology       Accessories      8.705600
                 Copiers          7.167309
                 Machines        -4.350493
                 Phones           4.213040
Name: Profit Margin Percentage, dtype: float64

In [13]:
# Sales totals by Sub_Category

df.groupby(['Category', 'Sub_Category'])['Sales'].sum()

Category         Sub_Category
Furniture        Bookcases       1466572.55
                 Chairs          1501682.16
                 Furnishings      385156.15
                 Tables           757042.17
Office Supplies  Appliances      1010535.76
                 Art              371613.70
                 Binders          461870.09
                 Envelopes        169217.58
                 Fasteners         89495.19
                 Labels            73350.55
                 Paper            241787.67
                 Storage         1126813.78
                 Supplies         242811.14
Technology       Accessories      749237.28
                 Copiers         1509436.51
                 Machines         779060.32
                 Phones          1706824.65
Name: Sales, dtype: float64

In [14]:
# Total Sales by Country

df.groupby(['Country'])['Sales'].sum()

Country
Afghanistan       21673.32
Albania            3888.12
Algeria           36091.59
Angola            25554.00
Argentina         57511.75
                    ...
Vietnam           65210.11
Western Sahara      666.36
Yemen              2465.72
Zambia            26035.50
Zimbabwe           3765.13
Name: Sales, Length: 165, dtype: float64

In [15]:
# Count for each Order Priority

df[['Order Priority', 'Ship_Mode']].groupby('Order Priority').count()

                Ship_Mode
Order Priority
Critical             3932
High                15501
Low                  2424
Medium              29433

In [16]:
# Average Profit Margin by Order Priority

df[['Order Priority', 'Profit Margin Percentage']].groupby('Order Priority').mean()

                Profit Margin Percentage
Order Priority
Critical                        5.759158
High                            4.734895
Low                             4.759029
Medium                          4.609940

In [17]:
# Order Priority (Count AND Profit Margin) within each Ship Mode

# df.pivot_table(index='Order Priority',columns='Ship Mode',aggfunc='size',fill_value=0).unstack()

df.groupby(['Ship_Mode','Order Priority'])['Profit Margin Percentage'].agg(['count','mean'])#.reset_index()

                               count      mean
Ship_Mode      Order Priority
First Class    Critical         1734  4.677052
               High             3413  2.585397
               Medium           2358  3.833527
Same Day       Critical          742  8.217020
               High             1269  3.267872
               Medium            690  5.689389
Second Class   Critical         1456  5.795311
               High             4010  6.149506
               Medium           4843  4.430822
Standard Class High             6809  5.252636
               Low              2424  4.759029
               Medium          21542  4.700620

In [18]:
# Ship Mode Count & Profit Margin % within each Order Priority

In [19]:
# change returned "yes" to 1

df = df.replace('Yes', 1)
df.head()

,Unnamed: 0,Returned,Order ID,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,...,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority,Profit Margin Percentage,Days to Ship
0,0,0.0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,...,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.77,High,27.998018,2
1,1,0.0,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,...,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.63,Critical,-7.784817,2
2,2,0.0,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,...,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.49,Medium,17.776614,1
3,3,0.0,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Home Office,Berlin,Berlin,Germany,...,Phones,"Motorola Smart Phone, Cordless",2892.51,5,0.1,-96.54,910.16,Medium,-3.337586,2
4,4,0.0,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Consumer,Dakar,Dakar,Senegal,...,Copiers,"Sharp Wireless Fax, High-Speed",2832.96,8,0.0,311.52,903.04,Critical,10.996272,1

In [20]:
# fill Returned NaNs with 0

df['Returned'] = df['Returned'].fillna(0)
df.head(4)

,Unnamed: 0,Returned,Order ID,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,...,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority,Profit Margin Percentage,Days to Ship
0,0,0.0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,...,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.77,High,27.998018,2
1,1,0.0,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,...,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.63,Critical,-7.784817,2
2,2,0.0,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,...,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.49,Medium,17.776614,1
3,3,0.0,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Home Office,Berlin,Berlin,Germany,...,Phones,"Motorola Smart Phone, Cordless",2892.51,5,0.1,-96.54,910.16,Medium,-3.337586,2

In [21]:
df.tail(4)

,Unnamed: 0,Returned,Order ID,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,...,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority,Profit Margin Percentage,Days to Ship
51286,51286,0.0,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,Consumer,Chattanooga,Tennessee,United States,...,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.72,5,0.2,3.34,1.930,High,19.976077,4
51287,51287,0.0,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,Consumer,San Francisco,California,United States,...,Art,Newell 341,8.56,2,0.0,2.48,1.580,High,28.971963,5
51288,51288,0.0,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,Home Office,Valinhos,São Paulo,Brazil,...,Binders,"Acco Index Tab, Economy",13.44,2,0.0,2.40,1.003,Medium,17.857143,4
51289,51289,0.0,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,Consumer,Tipitapa,Managua,Nicaragua,...,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.38,3,0.0,1.80,1.002,High,2.932551,4

In [22]:
# Return totals by Category

In [ ]:
# Average return and average return by category